// background color

$bg-light: #F7C9AA;
$bg-light-hover: #e99f6f;
$bg-dark: #0a274b;
$bg-dark-hover: #031730;
$bg-body: #111110;
$bg-body-light: #ffffff;

// text color

$text-light-color: #fff;
$text-dark-color: #000000;

// shadow color

$light-shadow-color: #fff;

