@import './utilies';
@import './media-queries';

#hero-section{
    margin-top: 20px; 
    @include flexCenter;
    flex-direction: column;

        #value-title{
            background: none;
            font-family: 'Roboto Mono', monospace;
            text-align: center
        }

        .hero-container{
            @include flexCenter;
            width: 100%;
            margin-top: 30px;
            gap: 5rem;

            @include tablet{
                display: grid;
            }

            .value-container{
                @include flexCenter;
                justify-content: flex-start;
                padding: 10px;
                margin-bottom: 10px;
                gap: 2rem;
                img{
                    width: 50px;
                    height: 32px;
                    border-radius: 5px;
                }

                .down-arrow-icon{
                    cursor: pointer;
                    font-size: 30px;
                }

                .value-input{
                    width: 100%;
                    border-radius: 5px;
                    height: 40px;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 10px;
                    border: none;

                    &:hover{
                        opacity: 80%;
                    }

                }
            }

            .container{
                border-radius: 10px;
            }

            .hidden{
                margin-bottom: 10px;
                border-radius: 10px 0 10px 0;
                &:hover{
                    cursor: pointer;
                }
            }

            .dark-hover{
                &:hover{
                    background-color: $bg-dark-hover;
                }
            }

            .light-hover{
                &:hover{
                    background-color: $bg-light-hover;
                }
            }

            #first-right-value,
            #first-left-value{
                border-radius: 10px;

                p{
                    width: 70px;
                    text-align: center;
                }

                &:hover{
                    opacity: 70%;
                }
            }

            #right-value{

                @include tablet{
                    margin-bottom: 2rem;
                }
            }


            .switch-section{
                @include tablet{
                width: 100%;
                }

                @include flexCenter;
                .switch-button{
                    padding: 10px;
                    border-radius: 5px;
                    width: 47px;
                    height: 42px;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;
                   

                    &:hover{
                        animation: bounceAndRotate 1s linear;
                        box-shadow: none;
                        @keyframes bounceAndRotate {
                            0% {
                              transform:rotate(0deg);top:-20px;
                            }
                            25% {
                               transform:rotate(00deg);top:-10px;
                            }
                            50% {
                               transform:rotate(0deg);top:0px;
                            }
                            75% {
                               transform:rotate(180deg);top:10px;
                            }
                            100% {
                              transform: rotate(180deg);top:20px;
                            }
                          }
                    }
                    
    
                    &-left-arrow{
                        display: flex;
                        justify-content: flex-start;
                    }
    
                    &-right-arrow{
                        display: flex;
                        justify-content: flex-end;
                        position: relative;
                        bottom: 10px;
                    }
                }
            }
          
        }
}