@import './utilies';
@import './media-queries';

#hero-section{
    margin-top: 20px; 
    @include flexCenter;
    flex-direction: column;

        #value-title{
            background: none;
            font-family: 'Roboto Mono', monospace;
        }

        .hero-container{
            @include flexCenter;
            width: 100%;
            margin-top: 30px;
            gap: 5rem;

            @include tablet{
                display: grid;
            }

            .value-container{
                @include flexCenter;
                justify-content: flex-start;
                padding: 10px;
                margin-bottom: 10px;
                gap: 2rem;
                img{
                    width: 50px;
                    height: 32px;
                    border-radius: 5px;
                }

                .down-arrow-icon{
                    cursor: pointer;
                    font-size: 30px;
                }

                .value-input{
                    width: 100%;
                    border-radius: 5px;
                    height: 40px;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 10px;
                    border: none;
                }
            }

            .container{
                border-radius: 10px;
            }

            .hidden{
                margin-bottom: 10px;
                border-radius: 10px 0 10px 0;
                &:hover{
                    cursor: pointer;
                }
            }

            .dark-hover{
                &:hover{
                    background-color: $bg-dark-hover;
                }
            }

            .light-hover{
                &:hover{
                    background-color: $bg-light-hover;
                }
            }

            #first-right-value,
            #first-left-value{
                border-radius: 10px;

                p{
                    width: 70px;
                }
            }

            #right-value{

                @include tablet{
                    margin-bottom: 2rem;
                }
            }

        }
}