@import './utilies';

#hero-section{
    margin-top: 20px; 
    @include flexCenter;
    flex-direction: column;

        #value-title{
            background: none;
            font-family: 'Roboto Mono', monospace;
        }

        .hero-container{
            @include flexCenter;
            margin-top: 30px;
            gap: 10rem;

            .value-container{
                @include flexCenter;
                justify-content: flex-start;
                padding: 10px;
                gap: 2rem;
                // border: 3px solid white;
                img{
                    width: 50px;
                    height: 32px;
                    border-radius: 5px;
                }

                .down-arrow-icon{
                    cursor: pointer;
                    font-size: 30px;
                }

                .value-input{
                    width: 100%;
                    border-radius: 5px;
                    height: 40px;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 10px;
                    border: none;
                }
            }

            .container{
                border-radius: 10px;
            }

            #first-right-value,
            #first-left-value{
                border-radius: 10px;
            }

          
        }

    
   
}