@import './color';

#navbar-section{
    width: 100%;
    max-width: 100vw;

    .navbar-container{

        img{
            height: 50px;
            margin-left: 15px;
            padding: 0.2rem;
        }

        #black-logo{
            position: absolute;
            top: 0;
            left: 0;
        }

        #theme-moon{
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;
        }

        #theme-button{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 30px;
            padding: 0.5rem;
            cursor: pointer;
        }
    }

    
}