@import './navbar';
@import './hero';
@import './utilies';
@import './color';
@import './media-queries';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    .shadow{
        box-shadow: 0 4px 10px -2px $light-shadow-color;
    }
    background-color: $bg-body;
    // hidden icon 
    .theme-light{
        opacity: 0%;
    }
    .theme-dark{
        opacity: 100%;
    }

    // bg color theme
    .bg-dark{
        background-color: $bg-dark ;
        color: $text-light-color;
    }
    .bg-light{
        background-color: $bg-light ;
        color: $text-dark-color;
    }
}

