*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111110;
    // hidden icon 
    .theme-light{
        opacity: 0%;
    }
    .theme-dark{
        opacity: 100%;
    }

    // bg color theme
    .bg-dark{
        background-color: #000000 ;
    }
    .bg-light{
        background-color: #c05c04 ;
    }
}

@import './navbar';